.popular-services{
    height: max-content;
    box-sizing: border-box;
    margin: 10px;
}

.provider-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
}

.provider-card{
    height: max-content;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: .5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.provider-card-details{
    display: flex;
    flex-direction: column;
    padding: 2px 10px 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.provider-card img{
    width: 200px;
    margin: 5px auto 0;
    height: 160px;
    border: .2px solid rgb(240, 240, 243);
    border-radius: 5px;
    object-fit: cover;
    object-position:  top;
}

.service-tag{
    padding: 5px 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, #dedede 0%, #dadbdb 100%);
    width: max-content;
    margin: 10px 0;
    color: rgb(9, 1, 63);
}

.tag-price{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.provider-name{
    font-weight: 500;
}

.provider-card-details a{
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    width: max-content;
    padding: 5px 20px;
    color: white;
    margin: 15px auto 10px;
}

.provider-card-details h3{
    font-size: 1.2rem;
    font-weight: 500;
}

.address{
    height: 40px;
}

.popular-services-heading{
    font-weight: 400;
}

@media only screen and (max-width:900px) {
    .provider-info{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
}

.no-provider{
    height: 50vh;
}

@media only screen and (max-width: 220px) {
    .provider-card{
    width: 95vw;
    padding: 0;
    gap: 5px;
    }

    .provider-card img{
    width: 90vw;
    }

    .provider-info{
    padding: 0;
    box-sizing: border-box;
    gap: 5px
}

    .tag-price{
        flex-direction: column;
        align-items: start;
    }
}